@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
  background-color: #1677ff !important;
}

.ant-btn,
.ant-space-item {
  display: flex;
  align-items: center !important;
  justify-content: center;
}

.ant-modal {
  @apply w-fit !important;
  @apply min-w-[500px] !important;
  @apply py-5 !important;
}

.active {
  background-color: white;
  font-weight: 500;
  color: black;
}

.navBtn:not(.active):hover {
  background-color: rgb(80, 79, 79);
}
